{{template "head"}}
<script>
var slides = [
// 0
{
    file: 'chat/m2.png',
    areas: [{
        x: 0,
        y: 0,
        w: 320,
        h: 560,
        pos: 1
    }]
},
// 1
{
    file: 'chat/m1.png',
    areas: [{
        x: 180,
        y: 100,
        w: 120,
        h: 50,
        pos: 2
    }]
},
// 2
{
    file: 'chat/m4.png',
    areas: [{
        x: 10,
        y: 30,
        w: 80,
        h: 80,
        pos: 3
    }]
},
// 3
{
    file: 'chat/m3.png',
    areas: [{
        x: 10,
        y: 30,
        w: 80,
        h: 80,
        pos: 4
    }]
},
// 4
{
    file: 'chat/m10.png',
    areas: [{
        x: 0,
        y: 0,
        w: 320,
        h: 560,
        pos: 5
    }]
},
// 5
{
    file: 'chat/m9.png',
    areas: [{
        x: 100,
        y: 400,
        w: 220,
        h: 90,
        pos: 6
    }, {
        x: 10,
        y: 534,
        w: 200,
        h: 22,
        pos: 7
    }]
},
// 6
{
    file: 'chat/m8.png',
    areas: [{
        x: 50,
        y: 310,
        w: 220,
        h: 40,
        pos: 10,
    }]
},
// 7
{
    file: 'chat/m5.png',
    areas: [{
        x: 225,
        y: 530,
        w: 90,
        h: 25,
        pos: 8
    }]
},
// 8
{
    file: 'chat/m6.png',
    areas: [{
        x: 100,
        y: 400,
        w: 220,
        h: 90,
        pos: 9
    }]
},
// 9
{
    file: 'chat/m7.png',
    areas: [{
        x: 50,
        y: 310,
        w: 220,
        h: 40,
        pos: 10,
    }]
},
// 10
{
    file: 'chat/info.png',
    gps: "https://docs.google.com/forms/d/1HL7mMgr68MkUfoFABxwEWWibCWvtT4apyENG4kebN4c/viewform?entry.1046979363=Ja",
    nogps: "https://docs.google.com/forms/d/1HL7mMgr68MkUfoFABxwEWWibCWvtT4apyENG4kebN4c/viewform?entry.1046979363=Nein",
    areas: [{
        x: 50,
        y: 310,
        w: 220,
        h: 40,
        pos: false,
    }]
}];
</script>
{{template "body"}} {{template "foot"}}
