{{template "head"}}
<div class="container">
    <div class="row">
        <div class="12u">
            <h1>Coupon</h1>
            <p>Dear participant,</p>
            <p>thank you for evaluating the app „FindFriends“.</p>
            <p>„FindFriends“ is a mobile application to share connect you with your closest friends and colleagues.</p>
            <p>In order to access all features of „FindFriends“ we need your current location.</p>
            By disclosing your smartphones GPS-data we can access your location and share it with your friends.
            <p>To test the application, please grant the required permissions for your facebook account.</p>
        </div>
    </div>
</div>
<script>
</script>
{{template "foot"}}
