{{template "head"}} {{template "body"}}
<script>
var slides = [
// 0
{
    file: 'coupon/m4.png',
    areas: [{
        x: 0,
        y: 0,
        w: 320,
        h: 560,
        pos: 1
    }]
},
// 1
{
    file: 'coupon/m1.png',
    areas: [{
        x: 252,
        y: 106,
        w: 44,
        h: 44,
        pos: 2
    }]
},
// 2
{
    file: 'coupon/m3.png',
    areas: [{
        x: 10,
        y: 30,
        w: 80,
        h: 80,
        pos: 3
    }]
},
// 3
{
    file: 'coupon/m2.png',
    areas: [{
        x: 10,
        y: 30,
        w: 80,
        h: 80,
        pos: 4
    }]
},
// 4
{
    file: 'coupon/m11.png',
    areas: [{
        x: 0,
        y: 0,
        w: 320,
        h: 560,
        pos: 5
    }]
},
// 5
{
    file: 'coupon/m9.png',
    areas: [{
        x: 250,
        y: 90,
        w: 65,
        h: 25,
        pos: 11
    }, {
        x: 5,
        y: 260,
        w: 310,
        h: 60,
        pos: 7
    }]
},
// 6
{
    file: 'coupon/m5.png',
    areas: [{
        x: 50,
        y: 310,
        w: 220,
        h: 40,
        pos: 11,
    }]
},
// 7
{
    file: 'coupon/m8.png',
    areas: [{
        x: 250,
        y: 90,
        w: 65,
        h: 25,
        pos: 11
    },{
        x: 65,
        y: 140,
        w: 200,
        h: 25,
        pos: 10
    }]
},
// 8
{
    file: 'coupon/m6.png',
    areas: [{
        x: 100,
        y: 400,
        w: 220,
        h: 90,
        pos: 11
    }]
},
// 9
{
    file: 'coupon/m6.png',
    areas: [{
        x: 50,
        y: 310,
        w: 220,
        h: 40,
        pos: 11,
    }]
},
// 10
{
    file: 'coupon/m7.png',
    areas: [{
        x: 0,
        y: 0,
        w: 320,
        h: 560,
        pos: 7,
    }]
},
// 11
{
    file: 'coupon/info.png',
    gps: "http://umfragen.ise.tu-darmstadt.de/sosci/privacyresearch/?password=test&g=coupon&d=1",
    nogps: "http://umfragen.ise.tu-darmstadt.de/sosci/privacyresearch/?password=test&g=coupon&d=0",
    areas: [{
        x: 50,
        y: 310,
        w: 220,
        h: 40,
        pos: false,
    }]
}];
</script>
{{template "foot"}}
